<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <a href="/">Сайт №1</a>
    <br>
    Сайт №2
    <br>
    <a href="/about/">Сайт №3</a>
    <br>
<a class="btn btn-primary btn-lg" href="/login/" role="button">Войти</a>
    <h1>Мой блог</h1>
    <h1>{{name1}}</h1><br>
    {{text1}}<br>
    <h1>{{name2}}</h1><br>
    {{text2}}<br>
    <h1>{{name3}}</h1><br>
    {{text3}}<br>
    <hr>
    <p align="center">© All rights are reserved</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>